body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
     background: linear-gradient(135deg, #e0f7fa, #f0f8ff); /* Gentle Gradient */
       font-family: 'Arial', sans-serif; /* change font family */
        transition: background 0.3s ease;
}

.container {
  text-align: center;
}

.unicorn-container {
  width: 550px;
  height: 550px;
  margin-bottom: 10px;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

#unicorn, #puppy {
  max-width: 90%;
  max-height: 90%;
  display: block;
  object-fit: contain;
}

h1 {
          text-align: center; /* Center the text */
          margin-bottom: 5px; /* add spacing below */
          margin-top: 5px; /* remove default top margin */
       font-size: 2.5em;
       }

.controls {
      display: flex;
      justify-content: center; /* Center buttons horizontally */
      margin-top: 20px;  /* Add space above buttons */
      gap: 10px; /* Add spacing between the buttons */
      flex-wrap: wrap; /* allow for wrapping onto the next line on smaller screens */
  }


.controls button {
  font-size: 1.5em; /* Make the button text larger */
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.controls button:hover {
  box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
  transform: scale(1.05);
}

#feedButton {
  background-color: #c8e6c9; /* Light green for feed */
}

#waterButton {
  background-color: #b3e5fc; /* Light blue for water */
}

#petButton {
  background-color: #f48fb1; /* Light pink for petting */
}

#rideButton {
  background-color: #c926cf; /* Light pink for petting */
}

@media (max-width: 600px) {
  .unicorn-container {
      width: 300px;  /* Reduce container size on smaller screens */
      height: 300px; /* Reduce container size on smaller screens */
  }
}